h1
{

}

.show
{
	visibility: visible;
}

.hide
{
	visibility: hidden;
}


img
{
	width: 51px;
	height: 34px;
}

.preview
{
	width: 255px;
	height: 170px;
}


.preview-containter .recipe-container
{
	position: absolute;
	top: 100px;
	left: 100px;
	display: block;
	z-index: 1;
}

.recipe-container
{
	left: 500px;
}


.tooltip .tooltiptext {
	width: 120px;
	top: 100%;
	left: 50%;
	margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
	opacity: 0;
	transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
}