* 
{
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.col-1 {width: 10%;}
.col-2 {width: 20%;}
.col-3 {width: 30%;}
.col-4 {width: 40%;}
.col-5 {width: 50%;}
.col-6 {width: 60%;}
.col-7 {width: 70%;}
.col-8 {width: 80%;}
.col-9 {width: 90%;}
.col-10 {width: 100%;}

[class*="col-"] 
{
	float: left;
	padding: 15px;
}

.row::after 
{
	content: "";
	clear: both;
	display: table;
}

@media only screen and (max-width: 992px) 
{
  /* For tablets: */
  	.col-s-0 {width: 0%;}
	.col-s-1 {width: 10%;}
	.col-s-2 {width: 20%;}
	.col-s-3 {width: 30%;}
	.col-s-4 {width: 40%;}
	.col-s-5 {width: 50%;}
	.col-s-6 {width: 60%;}
	.col-s-7 {width: 70%;}
	.col-s-8 {width: 80%;}
	.col-s-9 {width: 90%;}
	.col-s-10 {width: 100%;}
}

@media only screen and (max-width: 600px) 
{
  /* For mobile phones: */
	[class*="col-"] 
	{
		width: 100%;
	}
}


h1
{
	font-size: 200%;
}

h2
{
	font-size: 150%;
}

p
{
	font-size: 100%;
}

li
{
	font-size: 100%;
}


.show
{
	display: inline;
}

.hide
{
	display: none;
}

.place-holder
{
	visibility: hidden;
}

/*.showSlide 
{ 
	display: none  
} 
*/
.left, .right 
{  
	cursor: pointer;  
	color: white;  
	font-weight: bold;  
	font-size: 50px;  
	transition: 0.6s ease;
	border-width: 20px;  
	border-radius: 0 10px 10px 0;  
}  

.right 
{  
	border-radius: 10px 0 0 10px;  
}  
.left:hover, .right:hover 
{  
	background-color: rgba(115, 115, 115, 0.8);  
}

.fade 
{  
	-webkit-animation-name: fade;  
	-webkit-animation-duration: 1.5s;  
	animation-name: fade;  
	animation-duration: 1.5s;  
}  

@-webkit-keyframes fade 
{ 
	from { opacity: .4 }
	to { opacity: 1 } 
}  
  
@keyframes fade 
{
	from { opacity: .4 }  
	to { opacity: 1 }  
}  

img
{
	width: 100%;
	height: auto;
	box-sizing: border-box;
}

.caps
{
	font-variant-caps: titling-caps;
}
.gallery
{
	background-color: #999999;
}

.recipe-container .result
{
	background-color: #999999;
}

.result
{
	font-size: 200%;
}

#preview
{	
	display: block;
	position: absolute;
	z-index: 1;

}

.tooltip
{	
	width: ;
	color: white;
	background-color: #999999;
}
